Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

before run :

# Data Science Tools and Ecosystem

after run :

# Data Science Tools and Ecosystem



**exercise 3** :
Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

before run :

In this notebook, Data Science Tools and Ecosystem are summarized.

after run :

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4** :
Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

before run :

Some of the popular languages that Data Scientists use are: 
1. python 
2. R
3. Ruby
4. Julia

after run :

Some of the popular languages that Data Scientists use are: 
1. python 
2. R
3. Ruby
4. Julia

**Exercise 5**
Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

before run :

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn 
4. Scikit-learn

after run

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn 
4. Scikit-learn

**Exercise 6** 
Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

In [ ]:
before run

|Data Science Tools |
|---|
|Jupyter|
|Jupyter lab |
|Zepplin|
|RStudio|

after run

|Data Science Tools |
|---|
|Jupyter|
|Jupyter lab |
|Zepplin|
|RStudio|

**Exercise 7**
Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

before run :

### Below are a few examples of evaluating arithmetic expressions in Python:

after run :

### Below are a few examples of evaluating arithmetic expressions in Python:

**Exercise 8**
Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

before run :

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

after run :

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

**Exercise 9**
Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

before run:

This will convert 200 minutes to hours by diving by 60:

In [ ]:
200/60

after run :

This will convert 200 minutes to hours by diving by 60:

In [10]:
200/60

3.3333333333333335

**Exercise 10** - Insert a markdown cell to list Objectives
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

before run :

**Objectives :**
* List popular languages for data science
* List popular Data science Tools 
* List commonly used libraries in data science
* write arthematic expression in python

after run :

**Objectives :**
* List popular languages for data science
* List popular Data science Tools 
* List commonly used libraries in data science
* write arthematic expression in python

**Exercise 11**  Create a markdown cell to indicate the Author's name
In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

before run :

## Author
Razan Ktaish

after run :

## Author
Razan Ktaish